/**/*.o
/**/*.ali
/**/*.gch
/**/*.stdout
/**/*.stderr
/**/*.d
/**/*.bexch
/**/b__*
/**/*.log
/adare_net_examples_01/alire/
/adare_net_examples_01/lib/
/adare_net_examples_01/bin/
/adare_net_examples_01/obj/
/adare_net_examples_01/config/
/alire/
/lib/
/bin/
/obj/
/config/
