**/*.o
**/*.ali
**/*.gch
**/*.stdout
**/*.stderr
**/*.d
**/*.bexch
**/b__*
**/*.log
alire/*
lib/*
obj/*
config/*
adare_net_examples/alire/*
adare_net_examples/bin/*
adare_net_examples/obj/*
adare_net_examples/config/*